extends layout

block content
    div(class='page-header pt-4 pb-3')
        div(class='row')
            div(class='col-lg-12')
                h4 Feedback received! Got any more? Simply click the button below

    div(class='form-group form-row align-items-center')
            div(class='col-sm-2')
                a(class='btn btn-primary' href='/' role='button') More feedback